.container {
    font-family: Arial, Arial, Helvetica, sans-serif;
    font-size: 18pt;
    text-align: center;
    position: absolute;
    background: #777;
    padding: 100px;
    margin-bottom: 40px;
    clear: both;
}
    
header {
    background: #ebebeb;
    color: #777;
    padding: 40px;
    border: 960px;
    margin: 20px;
    width: 960px;
    clear: both;
}

#nav {
    color: #777;
    background-color: #ebebeb;
    border: 960 px;
    padding: 40px;
    margin: 20px;
    width: 960px;
    clear: both;
}


.column {
    float: right;
    max-width: 960px;
    width: 495px;
    box-sizing: border-box;
    margin-left: 20px;
    color: #777;
    background-color: #ebebeb;
    padding: 50px 20px 20px 20px;
    clear: float;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

.column {
    position: relative;
    box-sizing: border-box;
    background: #ebebeb;
    height: 300px;
    width: 495px;
    float: left;
    margin: 20px;
    clear: float;
}

.aside {
    width: 430px;
    box-sizing: border-box;
}

.article {
    color:#ebebeb;
    background: #777;
    padding: 5px 20px 1px 20px;
    clear: float;
}

h1 {
    color: #777;
    font-size: 18pt;
    background: #ebebeb;
    height: 18px;
    padding: 15px;
    clear: both;
}

p {
    color: #777;
    background: #ebebeb;
    height: 18px;
    padding: 15px;
    clear: both;
}


footer {
    background: #ebebeb;
    padding: 40px;
    margin-left: 20px;
    margin-right: 20px;
    color: #777;
    max-width: 960px;
    text-align:center;
    clear: both;
}