.container {
    font-family: Arial, Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    background: #777;
    box-sizing: border-box;
    padding: 5px;
    margin: 20px;
    margin-bottom: 20px;
    clear: both;
}
    
header {
    background: #ebebeb;
    color: #777;
    padding: 40px;
    border: 960px;
    margin: 20px;
    width: '960px';
    clear: both;
}

#nav {
    color: #777;
    background-color: #ebebeb;
    border: 960px;
    padding: 40px;
    margin: 20px;
    width: '960'px;
    clear: both;
}


.column {
    position: relative;
    float: left;
    width: 495px;
    margin-left: 20px;
    color: #777;
    background-color: #ebebeb;
    padding: 20px;
    clear: float;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

.column {
    background: #ebebeb;
    height: 225px;
    width: 400px;
    float: left;
    margin: 20px;
    clear: float;
}

.article {
    color:#ebebeb;
    background: #777;
    padding: 20px;
    clear: both;
}

h1 {
    color: #777;
    background: #ebebeb;
    height: 35px;
    clear: both;
}

p {
    color: #777;
    background: #ebebeb;
    height: 35px;
    clear: both;
}


footer {
    background: #ebebeb;
    padding: 40px;
    margin-left: 20px;
    margin-right: 20px;
    color: #777;
    text-align:center;
    clear: both;
}